extends layout

.jumbotron
block content
  h1 My Express Project
  p Simple RESTful web application using Node.js, Express, and MongoDB

  // Wrapper
  #wrapper

    // USER INFO
    #userInfo
      h2 User Info
      p
        strong Name:
        |  <span id='userInfoName'></span>
        br
        strong Age:
        |  <span id='userInfoAge'></span>
        br
        strong Gender:
        |  <span id='userInfoGender'></span>
        br
        strong Location:
        |  <span id='userInfoLocation'></span>
    // /USER INFO

    // USER LIST
    h2 User List
    #userList.table.table-hover
      table 
        thead
          th UserName
          th Email
          th Remove User?
        tbody
          tr.table-info
          th (scope="row") 1
          tr.table-info
          th (scope="row") 2
          tr.table-info
          th (scope="row") 3
    // /USER LIST
    
    // ADD USER
    h2 Add User
    #addUser
      fieldset.form-group

        input#inputUserName(type='text', placeholder='Username')
        input#inputUserEmail(type='text', placeholder='Email')
        br
        input#inputUserFullname(type='text', placeholder='Full Name')
        input#inputUserAge(type='text', placeholder='Age')
        br
        input#inputUserLocation(type='text', placeholder='Location')
        input#inputUserGender(type='text', placeholder='gender')
        //- label(for="gender")
        //- select#gender.form-group(name="gender")
        //-   option(value="male") Male
        //-   option(value="female") Female
        //-   option(value="NA") I do not wish to identify
        //- br
        button#btnAddUser.btn.btn-primary.btn-sm Add User
    // /ADD USER

  // /WRAPPER